{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 4 versions",
            "safari >= 7"
          ]
        },
        "forceAllTransforms": true
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}