{% extends "layout.njk" %}
{% from "layout.njk" import field %}
{% block header %}
<title>CNode</title>
{% endblock %}
{% block link %}
{{ super() }}
<link rel="stylesheet" href="/public/css/1/2/t.css?rev=@@hash">
<link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
{% include "common.njk" %}
{{field(name="password", type="password")}}
<h3>新闻页面</h3>
<ul class="news-view view">
    {% for item in list %}
    <li class="item">
        <a href="{{ item.url }}">{{ item.title }}</a>
        {{ helper.relativeTime(item.create_at) }}
        {{ctx.isIOS}} {{today}}
    </li>
    {% endfor %}
</ul>
<div class="sprite_four"></div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% endblock %}