<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">

    {% block header %}
    <title>CNode</title>
    <meta name='description' content='CNode：Node.js专业中文社区'>
    <meta name="keywords" content="nodejs, node, egg, koa"/>
    {% endblock %}

    {% block link %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/common.css?rev=@@hash">
    {% endblock %}
</head>
<body>
{% if ctx.session.flash %}
<div class="alert alert-{{ ctx.session.flash.type }} container position-fixed cnode-alert" role="alert">
    {{ ctx.session.flash.msg }}
</div>
{% endif %}
<header class="container-fluid bg-dark cnode-header position-fixed">
    <section class="container d-flex justify-content-between align-items-center cnode-header_container">
        <a href="/" class="home-logo d-inline-block"></a>
        <ul>
            <li class="d-inline-block mr-4">
                <a href="/">首页</a>
            </li>
            <li class="d-inline-block mr-4">
                <a href="/api">API</a>
            </li>
            <li class="d-inline-block mr-4">
                <a href="/about">关于</a>
            </li>
        </ul>
    </section>
</header>

<article class="container-fluid" style="padding-top: 50px">
    {% block content %}
    {% endblock %}
</article>

<aside class="position-fixed back-top p-2 border border-right-0 rounded-left text-primary">返<br>回<br>顶<br>部</aside>

<footer class="container-fluid bg-dark cnode-footer">
    <section class="container py-4">
        <a href="https://cnodejs.org">CNode Intro</a>
    </section>
</footer>

<!-- Login Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLable" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginLable">登录</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="user">AccessToken</label>
                    <input type="text" class="form-control" id="user" aria-describedby="userHelper" placeholder="请输入access-token" value="e111bccc-3a4b-4428-9b7c-efa257a4da0d">
                    <i class="invalid-feedback">请输入正确的access-token</i>
                    <small id="userHelper" class="form-text text-muted">如何获取 accessToken？ 用户登录后，在设置页面可以看到自己的 accessToken。</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary login-btn">登录</button>
            </div>
        </div>
    </div>
</div>

{% block script %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.bootcss.com/nunjucks/3.0.1/nunjucks-slim.min.js"></script>
<script src="/public/js/common.js?rev=@@hash"></script>
{% endblock %}
</body>
</html>