<html>
<head>
    <title>{{ code }}</title>
    <link rel="stylesheet" href="/public/css/reset.css?rev=@@hash">
    <script src="/public/js/libs/jquery.js?rev=@@hash"></script>
</head>
<body><h1>{{ error }}</h1>
<h3>{{ code }}</h3></body>
</html>