{% extends "common/layout.njk" %}

{% block header %}
<title>CNode主页</title>
{% endblock %}
{% block link %}
{{ super() }}
<link rel="stylesheet" href="/public/css/home.css?rev=@hash">
{% endblock %}

{% block content %}

<article class="container py-3 cnode-home">
    <article class="row">
        <section class="cnode-home_left col-9">
            <ul class="alert alert-info mb-2">
                {% for item in lists %}
                {% if ctx.locals.active == item.tab %}
                <li class="d-inline-block px-2 rounded bg-success">
                    <a href="/?tab={{ item.tab }}" class="text-white">{{ item.name }}</a>
                </li>
                {% else %}
                <li class="d-inline-block px-2">
                    <a href="/?tab={{ item.tab }}">{{ item.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <ol>
                {% for item in articles %}
                <li class="p-2 d-flex justify-content-between align-items-center border-bottom cnode-home_articles">
                    <div>
                        <a href="/user/{{ item.author.loginname }}" class="d-inline-block align-middle">
                            <img src="{{ item.author.avatar_url }}" alt="{{ item.author.loginname }}" width="40" class="rounded-circle">
                        </a>
                        <a href="/detail/{{ item.id }}" class="ml-1 mr-2 d-inline-block text-truncate cnode-home_article align-middle">
                            <span class="badge badge-success">
                                {{ helper.formatTab(item.tab,item.good,item.top) }}
                            </span>
                            {{ item.title }}
                        </a>
                        <i class="cnode-home_count d-inline-block align-middle">
                            {{ item.reply_count }} / {{ item.visit_count }}
                        </i>
                    </div>
                    <p class="cnode-home_time">
                        {{ helper.formatTime(item.create_at)}}
                    </p>
                </li>
                {% endfor %}
            </ol>
            <nav>
                <ul class="pagination justify-content-center mt-4 mb-2">
                    {% if ctx.locals.page > 1 %}
                    <li class="page-item"><a class="page-link" href="/?tab={{ ctx.locals.active }}&page={{ ctx.locals.page-1 }}">上一页</a></li>
                    {% endif %}
                    {% if hasMore %}
                    <li class="page-item"><a class="page-link" href="/?tab={{ ctx.locals.active }}&page={{ +ctx.locals.page + 1 }}">下一页</a></li>
                    {% endif %}
                </ul>
            </nav>
        </section>
        <section class="cnode-home_right col-3">
            {% if ctx.session.user %}
            <a href="/user/{{ ctx.session.user.loginname }}">
                <img src="{{ ctx.session.user.avatar_url }}" alt="默认头像" class="rounded" width="100%">
            </a>
            <h4 class="text-center pt-3">{{ ctx.session.user.loginname }}</h4>
            {% else %}
            <img src="/public/image/home/default-avatar.jpg" alt="默认头像" class="rounded">
            {% endif %}
            {% if ctx.session.user %}
            <div class="text-center py-4">
                <a href="javascript:;" class="btn btn-primary btn-block logout-btn">退出</a>
            </div>
            {% else %}
            <div class="text-center py-4">
                <a href="javascript:;" class="btn btn-primary btn-block" data-toggle="modal" data-target="#login">登录</a>
            </div>
            {% endif %}
        </section>
    </article>
</article>

{% endblock %}